<div class="container">
  <div class="photo-container">
    <img
      src="assets/images/profile-photo.png"
      alt="Profile Photo"
      class="profile-photo"
    />
    <h1>Paula Cardone (she/her)</h1>
    <h2>Scrum Master & Frontend Developer</h2>
    <div class="social-links">
      <a href="mailto:paulacardone16@gmail.com"
        ><i class="fas fa-envelope"></i
      ></a>
      <a href="https://www.linkedin.com/in/paula-cardone-zan" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://github.com/mutatiismutandiis" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.instagram.com/mutatiismutandiis" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <div class="about-me-container">
    <div class="about-me-content">
      <h1>About Me</h1>
      <p>
        Hey! 👋 I'm Paula, a math lover turned agile coder. 🚀 Explore my world
        through projects, check out my photo journey, and let's connect! 👨‍💻✨
        #AgileCoder #MathMeetsCode #LetsCollaborate
      </p>
    </div>

    <div class="buttons-container">
      <button (click)="navigateTo('portfolio')">Portfolio</button>
      <button (click)="navigateTo('work-experience')">Work Experience</button>
      <button (click)="navigateTo('studies')">Studies</button>
    </div>
  </div>
</div>
