<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-5 col-lg-5 parte1">
        <h2>Página Profesional (2022)</h2>
        <p>Página para una profesional de la traducción, donde detalla y ofrece sus servicios. Se realizó utilizando HTML, CSS y Bootstrap, y el código se encuentra disponble en GitHub haciendo click sobre la imagen.</p>    
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte2">
            <a href="https://github.com/mutatiismutandiis/pagina-profesional"> 
            <img src="../../../assets/proyecto1.png" class="img-fluid img-proyecto1">   
            </a>
        </div>    
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-5 col-lg-5 parte3">
            <a href="https://github.com/mutatiismutandiis/cv-ingles">
            <img src="../../../assets/proyecto2.png" class="img-fluid img-proyecto2">   
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte4">
            <h2>CV en inglés (2022)</h2>
            <p>Corrículum vitae en inglés par búsqueda de trabajo en el exterior. Se realizó utilizando HTML, CSS y Bootstrap, y el código se encuentra disponble en GitHub haciendo click sobre la imagen.</p>    
            </div>    
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-5 col-lg-5 parte5">
        <h2>Portfolio Argentina Programa (2022)</h2>
        <p>Proyecto Integrador Portfolio Web Full Stack, realizado como evaluación de la 2da Etapa de Argentina Programa (#YoProgramo), utilizando principalmente Angular y herramientas de Bootstrap. El código se encuentra disponble en GitHub haciendo click sobre la imagen.</p>    
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte6">
            <a href="https://github.com/mutatiismutandiis/portfolio"> 
            <img src="../../../assets/proyecto3.png" class="img-fluid img-proyecto3">   
            </a>
        </div>    
    </div>
</div>
