 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Paula Cardone</p>
        <p>Full Stack Developer Jr.</p>
    </div>  
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span>
            <h1>Acerca de mí</h1>
            <p>Trabajo en enseñanza e investigación, considero que ambas se complementan. Disfruto del trabajo en equipo e interdisciplinar. Me gusta mucho aprender cosas nuevas, siempre estoy formándome y capacitándome para mejorar en mi trabajo y adquirir nuevas habilidades. En este momento, me encuentro capacitándome en programación, desarrollo web y ciencia de datos.</p>
        </span>
    </div>
</div>    