<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
        <li>
        <h2> Doctorado en Ingeniería  </h2>  <h3>(2019 - presente)</h3>
         </li>
        <p> Tema de investigación: Modelos aproximados de tiempo discreto en análisis y control de sistemas no lineales, 40 horas semanales, CIFASIS-CONICET</p>    
        <li>
        <h2>Profesorado en Matemática  </h2>  <h3>(2013 - 2017)</h3>
        </li>
        <p> Egresada el 2 de marzo de 2017. Promedio: 8.81 (Distinguido), Reconocimiento al Mejor Promedio de la carrera, Promoción 2016-2017, de la FCEIA-UNR </p>
        <li>
        <h2>Nivel Secundario: Economía y Gestión de las Organizaciones  </h2>  <h3>(2004 - 2007)</h3>
        </li>
        <p> Escuela Particular Incorporada Nro. 3081 "Dante Alighieri", Venado Tuerto, Santa Fe.
        </p>
        </ul>   
    </div>
</div>
