<div class="container">
  <div class="photo-container">
    <img
      src="assets/images/profile2.jpg"
      alt="Profile Photo"
      class="profile-photo"
    />
    <h1>Paula Cardone (she/her)</h1>
    <h2>Scrum Master | RTE</h2>
    <div class="social-links">
      <a href="mailto:paulacardone16@gmail.com"
        ><i class="fas fa-envelope"></i
      ></a>
      <a href="https://www.linkedin.com/in/paula-cardone-zan" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://github.com/mutatiismutandiis" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.instagram.com/mutatiismutandiis" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <div class="about-me-container">
    <div class="about-me-content">
      <h1>About Me</h1>
      <p>
        Hey! 👋 I'm Paula, a Scrum Master with a strong technical background in engineering, development, and data. 
        I help agile teams grow, collaborate, and deliver value. Explore my experience, check out my projects, and feel free to connect! 🚀 
      </p>
    </div>

    <div class="buttons-container">
      <button (click)="navigateTo('work-experience')">Work Experience</button>
      <button (click)="navigateTo('studies')">Studies</button>
      <button (click)="navigateTo('portfolio')">Portfolio</button>
    </div>
  </div>
</div>
