<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
        <li>
        <h2>Becaria doctoral  </h2>  <h3>(2019 - presente)</h3>
         </li>
        <p> Tema de investigación: Modelos aproximados de tiempo discreto en análisis y control de sistemas no lineales, 40 horas semanales, CIFASIS-CONICET</p>    
        <li>
        <h2>Auxiliar docente  </h2>  <h3>(2018 - 2021)</h3>
        </li>
        <p> Auxiliar de Primera categoría en la asignatura "Análisis Matemático II", correspondiente a las carreras de Ingeniería, 20 horas semanales, FRRo-UTN. </p>
        <li>
        <h2>Auxiliar docente  </h2>  <h3>(2017 - presente)</h3>
        </li>
        <p> Auxiliar de Primera categoría en la asignatura "Probabilidad y Estadística", correspondiente a las carreras de Ingeniería, 20 horas semanales, FCEIA-UNR. </p>
        </ul>   
    </div>
</div>
