<div class="page-container">
  <div class="background-image"></div>
  <div class="content">
    <!-- Spinner while the backend loads the data -->
    <div class="loading-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
      <p class="loading-text">
        Dividing by zero... 🧮
        Please wait while the data is loaded 😊
      </p>
    </div>

    <!-- Different contents -->
    <ng-content></ng-content>

    <!-- Button to return to the main view -->
    <button (click)="navigateToMain()" class="back-button">
      Back to Main Page
    </button>
  </div>
</div>
