<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [imageSrc]="'../assets/python.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'../assets/r.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/mysql.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>        
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'../assets/java.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [title]="'Trabajo en equipo'"
        [showUnits]="false"
        [showTitle]="true"
        [titleFontSize]="'1em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [title]="'Pensamiento crítico'"
        [showUnits]="false"
        [showTitle]="true"
        [titleFontSize]="'1em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [title]="'Adaptabilidad'"
        [showUnits]="false"
        [showTitle]="true"
        [titleFontSize]="'1em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#6C5073'"
        [innerStrokeColor]="'#EDAFFC'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
</div>    