<div class="full-card-container">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="content">
    <div class="header">
      <div class="details">
        <h2>{{ job?.jobTitle }}</h2>
        <h3>{{ job?.companyName }}</h3>
      </div>
      <div class="logo">
        <a
          *ngIf="job?.companyLink"
          [href]="job?.companyLink"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img [src]="getLogoUrl(job?.companyLogo)" alt="Company Logo" />
        </a>
      </div>
    </div>
    <div class="description">
      <p
        *ngFor="let item of job?.description"
        [innerHTML]="formatDescription(item)"
      ></p>
    </div>
    <div class="skills">
      <span *ngFor="let skill of job?.skills" class="skill">{{ skill }}</span>
    </div>
  </div>
</div>
