<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="">
        </div>
        <div class="redes">
                <a href = "https://www.linkedin.com/in/paula-cardone-zan/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href = "https://github.com/mutatiismutandiis"><img src="../../../assets/github.png" id="github"></a>
                <a href = "https://www.instagram.com/mutatiismutandiis/?hl=es-la"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href = "https://www.facebook.com/cz.pau/"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light">Login</button>
            </div>
    </div>
</div>